<!-- Barra de navegación de la página -->

<header class="header">
    <div class="header-container">
        <a href="/" class="logo">
            <img src="/images/favicon.ico.png" alt="Pretty-Thermo">
            <span>PRETTY THERMO</span>
        </a>

        <nav class="nav-menu">
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            
            <% if (typeof userSession !== 'undefined' && userSession) { %>
                <div class="user-menu">
                    <img src="/images/users/<%= userSession.avatar %>" alt="Avatar" class="avatar-small" style="width: 30px; height: 30px; border-radius: 50%;">
                    <span>Hola, <%= userSession.name %></span>
                    <a href="/users/profile">Mi Perfil</a>
                    <a href="/users/logout">Salir</a>
                </div>
            <% } else { %>
                <a href="/users/login" class="btn btn-outline">Login</a>
                <a href="/users/register" class="btn btn-primary">Registro</a>
            <% } %>

            <a href="/favorites" class="icon-btn">
                <i data-lucide="heart"></i>
            </a>
            <a href="/cart" class="icon-btn">
                <i data-lucide="shopping-cart"></i>
            </a>
        </nav>
    </div>
</header>
